
<div *ngIf="showModal" class="lgpd-modal-wrapper">
  <div class="lgpd-modal-close" (click)="setShowModal(false)">X</div>
  <div class="lgpd-modal-content" [innerHTML]="lgpdText"></div>
</div>

<div class="register-tim-logo"></div>

<div class="register-wrapper-degrade"></div>

<div class="register-wrapper-bubble">
  <div class="register-bubble"></div>
</div>

<div class="register-wrapper-men"></div>

<div class="register-wrapper-title-and-form">
  <div class="register-title">
    Seja<br />
    <span>bem<br />vindo!</span>
    <div class="register-subtitle">Desbloqueie seu celular<br />e proteja seu chip</div>
  </div>

  <div class="register-form-wrapper-border">
    <div class="register-form-wrapper">
        <form [formGroup]="registerForm">
          <div class="register-input-container" [hidden]="registered">
            <label>CPF</label>
            <input type="number" class="register-input" name="first-name"  formControlName="cpf">
          </div>
  
          <div class="register-input-container">
              <label>SENHA</label>
              <input type="password" class="register-input" name="first-name" formControlName="password">
          </div>
        </form>
    </div>

    <div class="register-button-wrapper" (click)="register(registerForm.value)">
      <div class="register-button">
        <div class="register-button-icon">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  phone: {{ registerForm.value | json }}
</div>

<div class="lgpd-wrapper">
  <div class="lgpd-circle-wrapper" (click)="setCheck()">
    <div class="lgpd-circle">
      <div class="lgpd-circle-check" #check>
        <i class="fas fa-check"></i>
      </div>
    </div>
  </div>
  <div #lgpd class="lgpd-title" (click)="setShowModal(true)">Aceito os termos de uso LGPD.</div>
</div>