.register-wrapper-degrade {
  width: 100vw;
  height: 100vh;
  position: fixed;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#063164+0,207cca+50,014b80+82,05183a+100 */
  background: url('/assets/images/fundo.png');
}

.register-wrapper-men {
  width: 100vw;
  height: 100vh;
  background: url('/assets/images/homem.png');
  background-repeat: no-repeat;
  position: fixed;
}

.register-bubble {
  width: 100vw;
  height: 100vh;
  background: url(/assets/images/fundo-bolinha.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  opacity: 0.4;
}

.register-wrapper-bubble {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: grid;
  align-content: center;
}

.register-title {
  /* position: fixed; */
  /* right: 0; */
  font-family: sans-serif;
  color: #fe000d;
  font-weight: bold;
  font-size: 311%;
  padding: 22px;
  line-height: 43px;
  /* text-align: right; */
  /* background: blue; */

  width: 141px;
  text-align: left;
  float: right;
}

.register-subtitle {
  font-size: 12px;
  color: white;
  line-height: 18px;
  padding-top: 6px;
  font-weight: bold;
}

.register-wrapper-title-and-form {
  width: 100vw;
  /* background: green; */
  height: 100vh;
  position: fixed;
}

.register-form-wrapper-border {
  position: relative;
  width: 77vw;
  height: 77vw;
  margin: 0 auto;
  border-radius: 44vw;
  margin-right: 15px;
  margin-top: 289px;
  box-shadow: 3px 0px 15px 0px #3e5465;
  background-image: linear-gradient(-109deg, #407197, #334f68);
}

.register-form-wrapper {
  background: #3b6c91;
  width: 62vw;
  height: 62vw;
  border-radius: 31vw;
  position: absolute;
  top: 27px;
  left: 29px;
}

.register-button-wrapper {
  width: 25vw;
  height: 25vw;
  border-radius: 13vw;
  position: absolute;
  bottom: -15px;
  right: 26px;
  background-image: linear-gradient(-45deg, #3b6c9159, #00000008);
  border: 1px solid #0606061a;
}

.register-button {
  width: 72%;
  height: 72%;
  background: #3b6c91;
  border-radius: 52%;
  cursor: pointer;
  top: 13px;
  position: absolute;
  right: 12px;
  border: 1px solid #0000000f;
}

.register-button-icon {
  font-size: 46px;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    color: #385c7a;
}

.register-tim-logo {
  background: url(/assets/images/logo.png);
  width: 102px;
  height: 30px;
  background-size: contain;
  position: fixed;
  z-index: 2;
  background-repeat: no-repeat;
  bottom: 15px;
  right: 38px;
}

.register-input {
  background: transparent;
  border: 0;
  color: white;
  padding-left: 17px;
  width: 100px;
  outline: none;
}

.register-input-container {
  border-bottom: 2px solid #326181;
  margin-bottom: 30px;
}

.register-input-container label {
  color: #294f69;
  font-family: sans-serif;
}

.lgpd-wrapper {
  width: calc(100% - 145px);
  height: 40px;
  position: fixed;
  bottom: 29px;
  display: grid;
  grid-template-columns: 40px auto;
  /* gap: 10px; */
  left: 8px;
  align-items: center;
}

.lgpd-circle-check {
  color: #216f24;
  text-align: center;
  margin-top: 2px;
  visibility: hidden;
}

.lgpd-circle-wrapper {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-image: linear-gradient(-109deg, #407197, #334f68);
  position: relative;
}

.lgpd-circle {
  width: 22px;
  height: 22px;
  border-radius: 11px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-image: linear-gradient(-109deg, #cec0a3, #b6ad9b);
}

.lgpd-modal-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 5;
  background: #242323db;
}

.lgpd-modal-content {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background: #ede5e5;
  margin: 11px;
  text-align: center;
  overflow: scroll;
}

.lgpd-modal-close {
  position: fixed;
  background: #f30707;
  padding: 4px;
  color: white;
  right: 0;
}

.lgpd-title {
  color: white;
  font-weight: bold;
  /* font-size: smaller; */
  align-self: center;
  text-decoration: underline;
  font-family: sans-serif;
  font-size: 9px;
}

form {
  /* background: pink; */
  width: 71%;
  margin: 0 auto;
  margin-top: 63px;
}

/* background: #30658a;
width: 60vw;
height: 60vw;
position: fixed;
border-radius: 30vw;
top: 0;
border: 0; */